<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/shafeek/Documents/Automation java/InterviewPreparation">
        <classes><class name="TestScript.Testscript">
            <methods><include name="Rgselection"/>
                <include name="navigateTologin"/>
                <include name="login"/>
                <include name="design_customization_flow_order"/>
            </methods>
        </class></classes>
    </test></suite>